.events {
  margin-top: 5rem;
  display: none;
  @include mq($from: md) {
    display: block;
  }
}
.events__pictures {
  @include flexPosition($space-between, $center);
  @include mq($until: md) {
    display: none;
  }
  &-element {
    img {
      width: 100%;
    }
  }
  &-element:first-child,
  &-element:last-child {
    flex-basis: 25%;
    align-self: center;
  }
  &-element:nth-child(2) {
    flex-basis: 50%;
  }
}
.events__circles {
  margin-top: 3rem;
  @include flexPosition($center);
  @include mq($until: md) {
    display: none;
  }
  div {
    width: 0.8rem;
    height: 0.8rem;
    background: $indicator;
    margin-left: 0.3rem;
    border-radius: 50%;
    &:first-child {
      background: $jumbotron-primary;
    }
  }
}
