.jumbotron {
  @include jumbotronSize;
  background-color: $jumbotron-primary;
  position: relative;
  top: 0;
  z-index: 1;

  &--secondary {
    @include jumbotronSize;
    @include mq($until: l) {
      visibility: hidden;
    }
    background-color: $jumbotron-secondary;
    clip-path: polygon(74% 0, 100% 0, 100% 100%, 54% 100%);
  }
}
