@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Fredericka the Great';
  src: url('../../fonts/FrederickatheGreat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Dancing Script';
  src: url('../../fonts/DancingScript-Bold.ttf') format('truetype');
  font-weight: 400 700;
}
